*{
	margin: 0;
	padding: 0;
	font-family: Cinzel, serif;
}
h1{
	text-shadow: 3px 3px 3px #ababab;
	font-family: Cinzel; serif;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: url(images/bg2.png);
	background-size: cover;
	background-position: center;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 300px;
	cursor: pointer;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase ;
}
.navbar ul li::after{
     content: '';
     height: 3px;
     width: 0;
     background: #ED9D03;
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;

}
.navbar ul li:hover:after{
	width: 100%;
}
.dropdown-menu{
	display: none;
	margin: 10px;
}
.dropdown-menu ul li a{
    text-decoration: none;
	color: black;
}
.navbar ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    background: rgb(252, 186, 3) ;
    margin-top: 15px;
    margin-left: -15px;
}
.navbar ul li:hover .dropdown-menu ul{
	display: block;
	margin: 10px;
}
.navbar ul li:hover .dropdown-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px slategray; #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.fa-caret-down{
	float: right;
	margin: 0 10px;
}
.fa-shopping-cart{
	float: right;
	margin: 0 10px;
}

/**/
/* CHECKOUT */
/**/
.checkout-box{
	  display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 6px;
    width: 100%;
    max-width: 4000px;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25, .col-50, .col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}